.logo {
    text-align: center;
    margin-top: 50px;
}

.blueSolid {
    background-color: rgb(43, 175, 203);
    width: 50%;
    margin-left:145px;
    border-radius: 30px;
    margin-top: 50px;
}

.input1 {
    margin-top: 30px;
}

.input2 {
    margin-bottom: 30px;
}

.buttonInput {
    text-align: center;
}

.signup {
    background-color: rgb(236, 138, 29);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    padding: 1px 70px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
}

.signup:hover {
    background-color: rgb(79, 84, 180);
}

button {
    background-color: rgb(236, 138, 29);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 36%;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}

button:hover {
    background-color: rgb(79, 84, 180);
}

input {
    border-radius: 20px;
    width: 200px;
    height: 22px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}

.square {
    height: 450px;
    width: 600px;
    background-color: rgb(43, 175, 203);
    border-radius: 30px;
    opacity: 0.5;
    margin: 50px
}

/*For tablet*/

@media screen and (min-width: 768px) {

}

/*For desktop*/

@media screen and (min-width: 960px) {
    body {
        background: url(/images/TeamBack.png) no-repeat;
        background-size: 100%;
    }
    .logo {
        float: right;
        margin-top: 50px;
        margin-right: 260px;
    }
    .blueSolid {
        background-color: rgb(43, 175, 203);
        width: 20%;
        margin-left: 310px;
        border-radius: 30px;
        margin-top: 50px;
    }
    .input1 {
        margin-top: 30px;
    }
    .input2 {
        margin-bottom: 30px;
    }
    .buttonInput {
        margin-top: 150px;
        margin-left: -50px;
    }
    button {
        width: 15%;
        margin-top: 50px;
    }
    h3 {
        float: right;
        margin-top: 260px;
        margin-right: -125px;
    }
    p {
        float: right;
        margin-top: 300px;
        margin-right: -280px;
        font-size: 15px;
        font-weight: 500;
    }
}