/*style the user profile area */
.userProfile {
  background-color: white;
  /*width: 400px; /* set the width of a post */
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 25px;
  margin: 0 4% 25px 4%;
}

/* style the user profile image */
.userProfile img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

/* style the user profiles unordered list */
.userProfile ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-top: 30px;
}

/* style the users activities list*/
.userProfile li {
  list-style: none;
}

.userName {
  float: left;
  margin-top: 80px;
}
