.logoSearchPage {
    text-align: center;
    margin-top: 50px;
}

/*For desktop*/

@media screen and (min-width: 960px) {
    .searchPageBackground {
        background: url(../../images/TeamBackv.png) no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .logoSearchPage {
        margin-top: 80px;
        margin-right: 920px;
    }
    .homepageLink {
        background-color: rgba(43, 175, 203, .4);
        color: rgb(90, 90, 90);
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        border-radius: 20px;
        text-decoration: none;
        padding: 1px 30px;
        margin-right: 10px;
    }
    .newsfeedLink {
        background-color: rgba(43, 175, 203, .4);
        color: rgb(90, 90, 90);
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        border-radius: 20px;
        text-decoration: none;
        padding: 1px 30px;
        margin-right: 10px;
    }
    .searchpageLink {
        background-color: rgba(43, 175, 203, .4);
        color: rgb(90, 90, 90);
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        border-radius: 20px;
        text-decoration: none;
        padding: 1px 30px;
        margin-right: 10px;
    }
    .searchBlueBack {
        background-color: rgb(43, 175, 203);
        width: 850px;
        height: 50px;
        margin-left: 450px;
        margin-top: -170px;
        color: rgb(255, 255, 255);
        border-radius: 20px;
    }
    .searchInput {
        margin: 0;
        border: none;
        width: 168%;
        padding: 8px;
        float: left;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 3px solid rgb(255, 170, 50);
        margin-left: 450px;
        margin-top: -54px;
    }
    .searchName {
        color: rgb(255, 255, 255);
        background-color: rgb(255, 170, 50);
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        padding: 6px;
        width: 22.5%;
        float: left;
        text-align: center;
        cursor: pointer;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 1190px;
        margin-top: -5px;
    }
}