/* style a single row for newsfeed */
.newsFeedBackground {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* style the left side bar*/
.newsfeedSideBar {
  padding: 10px;
  text-align: center;
}

/* style the logo */
.logoNewsFeed {
  margin-top: 50px;
}

/* style the H1 of this page */
.newsfeedMainContent h1 {
  background-color: rgb(43, 175, 203);
  height: 50px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
}

/* Style the create post form */
.createPost {
}

.createPost input[type="text"] {
  border: 3px solid green;
}

.createPost textarea {
  border: 3px solid red;
}

.createPost input[type="submit"] {
  background-color: black;
  color: red;
}

@media screen and (min-width: 960px) {
  /* Style two columns for newsfeed */
  .newsFeedBackground {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* style the left side bar*/
  .newsfeedSideBar {
    padding: 20px;
    width: 30%;
    text-align: left;
  }

  .logoNewsFeed {
    text-align: center;
  }

  /* style the main content of newsfeed */
  .newsfeedMainContent {
    width: 65%;
  }
}
