.logoNewsFeed {
    text-align: center;
    margin-top: 50px;
}

@media screen and (min-width: 960px) {
    .newsFeedBackground {
        background: url(../images/TeamBackv.png) no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .logoNewsFeed {
        width: 30%;
    }
    .newsfeedBlueBack {
        background-color: rgb(43, 175, 203);
        width: 850px;
        height: 50px;
        margin-left: 450px;
        margin-top: -170px;
        color: rgb(255, 255, 255);
        border-radius: 20px;
    }
}